*~
*.lo
*.1
*.o
*.tmp

Makefile
Makefile.in

/ABOUT-NLS
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/encfs.spec
/encfs/.deps/
/encfs/.libs/
/encfs/encfs
/encfs/encfs-man.html
/encfs/encfsctl
/encfs/libencfs.la
/encfs/makeKey
/encfs/test
/libtool
/makedist2.sh
/stamp-h1
/aclocal.m4

/po/Makevars.template
/po/POTFILES
/po/remove-potcdate.sed
/po/Makefile.in.in
/po/Rules-quot
/po/*.gmo
/po/stamp-po

/m4/*.m4
!/m4/ax_boost_base.m4
!/m4/ax_boost_filesystem.m4
!/m4/ax_boost_serialization.m4
!/m4/ax_boost_system.m4
!/m4/ax_boost_system.m4
!/m4/ax_ext_have_lib.m4
!/m4/ax_pthread.m4
