matrix:

  include:

    - language: cpp
      os: linux
      compiler: gcc
      dist: bionic
      sudo: required
      addons:
        apt:
          packages:
            - attr
            - fuse
            - libfuse-dev
            - gettext
            - cmake
      before_script:
        - sudo modprobe fuse
      script:
        - ./build.sh
      env:
        - SUDO_TESTS=true

    - language: cpp
      os: linux
      compiler: gcc
      dist: xenial
      sudo: required
      addons:
        apt:
          packages:
            - attr
            - fuse
            - libfuse-dev
            - gettext
            - cmake
      before_script:
        - sudo modprobe fuse
      script:
        - ./build.sh
      env:
        - SUDO_TESTS=true

    - language: cpp
      os: linux
      compiler: clang
      dist: xenial
      sudo: false
      addons:
        apt:
          packages:
            - attr
            - fuse
            - libfuse-dev
            - gettext
            - cmake
            - clang-4.0
            - clang-tidy-4.0
      script:
        - ./build.sh
      env:
        - CC=clang-4.0 CXX=clang++-4.0 CHECK=true INTEGRATION=false

    - language: cpp
      os: osx
      compiler: clang
      osx_image: xcode9.2
      sudo: required
      before_script:
        - brew cask install osxfuse
      script:
        - ./build.sh
      env:
        - SUDO_TESTS=true
