[project]
	description = EncFS: an Encrypted Filesystem for FUSE.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Valient Gough (vgough)
[access "refs/for/refs/*"]
	read = group user/Valient Gough (vgough)
	push = group user/Valient Gough (vgough)
	label-Code-Review = -2..+2 group user/Valient Gough (vgough)
	label-Verified = -1..+1 group user/Valient Gough (vgough)
	rebase = group user/Valient Gough (vgough)
	removeReviewer = group user/Valient Gough (vgough)
	submit = group user/Valient Gough (vgough)
[access "refs/heads/*"]
	read = group user/Valient Gough (vgough)
	create = group user/Valient Gough (vgough)
	push = +force group user/Valient Gough (vgough)
	pushMerge = group user/Valient Gough (vgough)
[access "refs/tags/*"]
	push = +force group user/Valient Gough (vgough)
	pushTag = group user/Valient Gough (vgough)
	pushSignedTag = group user/Valient Gough (vgough)
